.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
  pointer-events: none;
}
body{
  background-color: midnightblue
}
.App-header {
  background-color: midnightblue;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}
nav{
  background-color: silver;
  color: black;
}
a{
  padding-left:10px;
  padding-right:10px;
  background-color: silver;
  color: black;
}
a:hover{
  padding-left:10px;
  padding-right:10px;
  background-color: crimson;
  color: black;
}
article {
  background-color:midnightblue;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: gold;
}

h1 {
  background-color:midnightblue;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: gold;
}
.App-link {
  color: #61dafb;
}
table{
  align-items: center;
  border-color: crimson;
  border-width: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}


@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
